* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #291f1a;
  font-weight: 300;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; }

section h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 35px; }

.container, .container-fluid, .row {
  margin: 0;
  padding: 0; }

span {
  color: #228B22;
  font-weight: 600; }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999999999;
  background-color: #142634;
  padding: 10px 80px 10px 80px;
  color: white;
  text-align: left; }
  footer p {
    margin: 0; }

/* Main menu Styles Start */
#main-nav {
  background-color: transparent;
  padding-right: 50px;
  z-index: 9999999999999; }
  #main-nav.scroll {
    background-color: rgba(255, 255, 255, 0.9); }

div.navbar-collapse ul.navbar-nav li a {
  color: white;
  font-weight: 400;
  text-decoration: none; }
  div.navbar-collapse ul.navbar-nav li a:hover {
    color: #228B22; }
  div.navbar-collapse ul.navbar-nav li a.scroll {
    color: #228B22; }
    div.navbar-collapse ul.navbar-nav li a.scroll:hover {
      color: black; }

.navbar-fixed-top {
  border: 0; }

.navbar-default .navbar-toggle {
  background-color: rgba(255, 255, 255, 0.9); }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0; }

/* Main menu Styles Stop */
/* Header Styles Start */
.untitled__slideContent h1 {
  font-size: 5em; }

.untitled__slideContent h2 {
  font-size: 3em; }

.untitled {
  position: relative;
  height: 100vh;
  width: 100%; }

.untitled__shutters {
  overflow: hidden;
  position: absolute;
  height: 110vmax;
  width: 110vmax;
  left: calc(50% - 55vmax);
  top: calc(50% - 55vmax);
  pointer-events: none;
  z-index: 2;
  -webkit-animation: rotateFrame 10s linear infinite;
  animation: rotateFrame 10s linear infinite; }

@-webkit-keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

.untitled__shutters:before, .untitled__shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  background-color: #213b50; }

.untitled__shutters:before {
  bottom: 50%;
  -webkit-animation: openTop 5s infinite;
  animation: openTop 5s infinite; }

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); }
  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); } }

@keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); }
  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); } }

.untitled__shutters:after {
  top: 50%;
  -webkit-animation: openBottom 5s infinite;
  animation: openBottom 5s infinite; }

@-webkit-keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); }
  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); } }

@keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); }
  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); } }

.untitled__slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black; }

.untitled__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: showHideSlide infinite 20s steps(1);
  animation: showHideSlide infinite 20s steps(1); }

@-webkit-keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1; }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; } }

@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1; }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; } }

.untitled__slide:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.untitled__slide:nth-child(1) .untitled__slideBg {
  background-image: url("../img/header-background.jpg"); }

.untitled__slide:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.untitled__slide:nth-child(2) .untitled__slideBg {
  background-image: url("../img/cleancode.jpg"); }

.untitled__slide:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s; }

.untitled__slide:nth-child(3) .untitled__slideBg {
  background-image: url("../img/pexels-photo.jpg"); }

.untitled__slide:nth-child(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s; }

.untitled__slide:nth-child(4) .untitled__slideBg {
  background-image: url("../img/3196.jpg"); }

.untitled__slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  opacity: 0.7;
  z-index: -1;
  -webkit-animation: bgInOut 5s infinite;
  animation: bgInOut 5s infinite; }

@-webkit-keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9); } }

@keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9); } }

.untitled__slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-family: "Abril Fatface", sans-serif;
  line-height: 0.8;
  letter-spacing: 0.025em;
  z-index: 2;
  opacity: 1; }
  .untitled__slideContent h2 {
    font-size: 3em; }
    .untitled__slideContent h2 i {
      font-size: 2.5em; }

.arrow-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 9999999999999999999; }

.arrow-1 {
  width: 100px;
  height: 100px;
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute; }

a.clickableLink {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  display: table-cell;
  z-index: 999999;
  border: 2px solid #FFF; }
  a.clickableLink i.fa {
    vertical-align: middle;
    margin-top: 8px; }
  a.clickableLink :hover {
    color: #228B22; }

/* Custom Animate.css */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

/* Header Styles Stop */
/* Section About Styles Start */
#about {
  position: absolute;
  background-color: #f9fcfe;
  padding: 0% 10% 8%;
  max-width: 100%;
  z-index: 3; }

#myPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 0 auto; }
  #myPicture img {
    height: 100%;
    width: 100%;
    border: 15px white solid;
    border-radius: 15px; }

.about-content {
  font-size: 20px;
  padding: 0; }
  .about-content p {
    font-size: 23px;
    text-align: justify; }

/* Section About Styles Stop */
/* Section Skills Styles start */
#skills {
  margin-top: 750px;
  background-color: white;
  position: absolute;
  text-align: center; }
  #skills p {
    font-size: 20px;
    text-align: justify;
    padding: 0% 2%; }
  #skills div#skills-icons {
    text-align: center;
    padding: 1% 25% 0% 25%; }
    #skills div#skills-icons figure img {
      margin: 15px;
      width: 85%;
      height: 85%; }

/* Section Skills Styles Stop */
figure.single-portfolio-menu {
  height: 20em;
  margin-bottom: 1%;
  cursor: pointer;
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .7s; }
  figure.single-portfolio-menu a:hover {
    text-decoration: none; }
  figure.single-portfolio-menu div#portfolio-item-1 {
    background-image: url("../img/portfolio1.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu div#portfolio-item-2 {
    background-image: url("../img/portfolio2.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu div#portfolio-item-3 {
    background-image: url("../img/portfolio3.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu div#portfolio-item-4 {
    background-image: url("../img/calculator.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu div#portfolio-item-5 {
    background-image: url("../img/portfolio5.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu div#portfolio-item-6 {
    background-image: url("../img/portfolio3.jpg");
    background-size: cover;
    background-position: center; }
  figure.single-portfolio-menu:nth-child(5):hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-8em) translateZ(9em); }
  figure.single-portfolio-menu:nth-child(2):hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-8em) translateZ(8em); }
  figure.single-portfolio-menu:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-8em) translateZ(6em); }
    figure.single-portfolio-menu:hover div.portfolio-items {
      height: 100%;
      width: 100%;
      border: 5px solid #426684; }
    figure.single-portfolio-menu:hover figcaption {
      box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.25); }
  figure.single-portfolio-menu div.portfolio-items {
    background-color: #222;
    box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.25);
    height: 100%;
    -webkit-transition: .7s;
    border: 10px ridge #426684; }
  figure.single-portfolio-menu figcaption {
    background-color: #426684;
    color: #fff;
    padding: 1.5em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: .7s;
    border: 10px solid white; }
    figure.single-portfolio-menu figcaption h3 {
      font-weight: bold;
      font-size: 30px; }
    figure.single-portfolio-menu figcaption h4.portfolio-description {
      font-size: 20px;
      text-align: center; }

/* Contact section styling start */
section#contact {
  background-color: #213b50;
  color: white;
  height: 100%;
  width: 100%;
  margin-top: 5%; }

div.contact_data {
  float: left;
  text-align: left;
  line-height: 25px; }
  div.contact_data h2 {
    text-align: left;
    font-size: 50px; }
  div.contact_data address {
    font-size: 20px; }
  div.contact_data div.contact-social-icons a i.fa {
    font-size: 80px; }

div.contact-social-icons a {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 40px;
  margin: 60px 20px;
  color: white;
  vertical-align: middle;
  line-height: 45px; }
  div.contact-social-icons a:hover {
    color: #228B22; }

div.contact-form {
  text-align: left;
  float: left;
  margin-top: 40px; }

address a {
  text-decoration: none; }
  address a:link {
    color: #228B22; }

form input,
textarea {
  width: 80%;
  margin: 2%;
  background-color: #426684;
  padding-left: 2%;
  border-radius: 10px;
  border: 5px solid white; }
  form input:focus,
  textarea:focus {
    border-radius: 10px;
    border: 5px solid #228B22; }

form input {
  height: 50px; }

::-webkit-input-placeholder {
  color: white;
  padding-top: 5px;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 10px; }

button[type="submit"] {
  color: white;
  font-weight: 600;
  width: auto;
  padding: 12px 20px;
  margin: 0% 18% 20% 2%;
  float: left;
  text-transform: uppercase;
  border: 1pz solid #228B22;
  background-color: #228B22;
  border-radius: 10px; }
  button[type="submit"] i.fa {
    margin-left: 4px; }
  button[type="submit"]:hover {
    color: #228B22;
    background-color: white; }
