@import 'variables';
@import 'mixins';

/* Section About Styles Start */


#about {
    position: relative;
    background-color: #f9fcfe;
    padding: 0% 10% 8%;
    max-width: 100%; 
    padding-bottom: 12%;
    z-index: 3;}

#myPicture {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 500px;
    height: 500px;
    margin: 0 auto;  
    
    img {
    @include dimensions();
    border: 15px $white-color solid;
    border-radius: 15px;
}
    
}

.about-content {
    font-size: 20px;
    padding: 0;
    
    p {
        font-size: 23px;
        text-align: justify;
    }
}


/* Section About Styles Stop */