@import 'variables';
@import 'mixins';

.single-portfolio-menu {
    height: 300px;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.60);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.single-portfolio-menu:hover .portfolio-hover,
.single-portfolio-menu:hover .portfolio-hover .portfolio-description{
    opacity: 1;
    filter: alpha(opacity=100);
}

.single-portfolio-menu:hover .portfolio-hover .portfolio-description {
    top: 50%;
    /*margin-bottom: -90px;*/
}

.portfolio-hover .portfolio-description {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 10%;

}

.portfolio-description,
.portfolio-description h4,
.portfolio-description h4 a {
    text-align: center;
    color: #fff;
}

.portfolio-description h4 {
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    
}

.portfolio-description { 
    text-align: center;
    div {
    p {
    text-align: center !important;
    font-size:25px !important;
    margin-bottom: 0;
    font-weight: normal;
    color: #fff;
    line-height: 20px;
        }
}
}

.portfolio-description a,
.portfolio-title a {
    color: #fff;
}


    div#portfolio-item-1 {
        background-image: url('../img/portfolio1.jpg');
        background-size: cover;
        background-position: center;
    }
    div#portfolio-item-2 {
        background-image: url('../img/portfolio2.jpg');
        background-size: cover;
        background-position: center;
    }
    div#portfolio-item-3 {
        background-image: url('../img/www-award-gda-pl.jpg');
        background-size: cover;
        background-position: center;
    }
    div#portfolio-item-4 {
        background-image: url('../img/calculator.jpg');
        background-size: cover;
        background-position: center;
    }
    div#portfolio-item-5 {
        background-image: url('../img/inwentaryzacja.jpg');
        background-size: cover;
        background-position: center;
    }
    div#portfolio-item-6 {
        background-image: url('../img/www-dworakowska-cba-pl.jpg');
        background-size: cover;
        background-position: center;
    }
