@import 'variables';
@import 'mixins';

/* Section Skills Styles start */

#skills {
    margin-top: 750px;
    background-color: white;
    position: absolute;
    text-align: center;
    
    p {
        font-size: 20px;
        text-align: justify;
        padding:0% 2%;
    }
    
    div#skills-icons {
        text-align: center;
        padding: 1% 25% 0% 25%;
        
        figure img {
            margin: 15px;
            width: 85%;
            height: 85%;
        }
    }
}


/* Section Skills Styles Stop */