@import 'variables';
@import 'mixins';

/* Section Skills Styles start */

#skills {
    margin-top: 700px;
    background-color: white;
    position: absolute;
    z-index: 999999;
    text-align: center;
    
    div#skills-icons {
        text-align: center;
        padding: 0% 30%;
        
        figure img {
            margin: 15px;
            width: 85%;
            height: 85%;
        }
    }
}


/* Section Skills Styles Stop */