@import 'variables';
@import 'mixins';

/* Section Skills Styles start */

#skills {
    background-color: white;
    position: relative;
    text-align: center;
    
    p {
        font-size: 20px;
        text-align: justify;
        padding:0% 2%;
    }
    
    div#skills-icons {
        text-align: center;
        padding: 1% 25% 0% 25%;
        
        figure img {
            margin: 15px;
            width: 85%;
            height: 85%;
            
            &:hover {
                    animation: bigger 1s ease-in-out infinite;
                
                @keyframes bigger {
                0% {transform: scale(1)};
                50% {transform: scale(1.2)};
                100% {transform: scale(1)};
            }
                
                
                
            }
            
        }
    }
}

/* Section Skills Styles Stop */