@media all and (max-width: 768px) {
  
    .untitled__slideContent {
        h1 {
            font-size: 4em;
        }
        
        h2 {
            font-size: 3em;
        }
    }    
    #main-nav {
        padding: 10px;
        div.container {
            margin-right: 0;
            padding-right: 0;
        }
    }
    div.contact-data {
        width: 100%;
        text-align: center;
    }
    div.contact-form form {
        width: 100%;
    }
    div.contact-social-icons a {
        margin: 2%;
        padding: 0;
    }
    
     #myPicture {
     margin: 0 auto;    
    }
    
    #skills {
        margin-top: 1000px;
    }
    
    .about-content {
        text-align: center;
        font-size: 15px;
        padding: 0;
    }
}

@media all and (max-width: 480px) {
    
    .untitled__slideContent {
        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 2em;
        }
    }  
    
    #myPicture {
        max-width: 250px;
        max-height: 250px;
    }
   
    #main-nav {
        padding: 10px;
        div.container {
            margin-right: 0;
        }
    }
    
    #myPicture {
  width: 300px;
  height: 300px;
  margin: 0 auto;
    
    }
    
    #skills {
        margin-top: 950px;
    }
}

.about-content {
    text-align: center;
    font-size: 15px;
    padding: 0;
}