body {
  padding: 1em;
  background: #EEE;
}

#page {
    width: 50%;
    margin: 0 auto;
}

#btn-save {
    margin: 2% 1%;
}

span {
    margin: 0 5px 0 5px;
}

p:nth-child(1) {
    font-weight: 700;
}