* {
    margin: 0;
    padding: 0;
    
}

h3,h4 {
    text-align: center;
    margin: 1%
}

h4 {
    color: crimson;
    text-transform: uppercase;
}

/*Task 15 begin*/

.section {
    width: 100%;
    height: 500px;
    display: flex;
    box-sizing: border-box;
}

.section .box {
    width: 25%;
    text-align: center;
    line-height: 500px;
    background-size: cover;
    background-position: center;
    transition: 1s;
        
}

.section .box:nth-child(1){
    background-color: aqua;
}

.section .box:nth-child(2){
    background-color:crimson;
}

.section .box:nth-child(3){
    background-color:dodgerblue;
}

.section .box:nth-child(4){
    background-color:forestgreen;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 500px;
    font-size: 2em;
    background: rgba(0,0,0,0.8);
    transition: 0.5s;
}

h1 span {
    background: rgba(255,255,255,0);
    width: 100%;
    transition: 1s;
    color:#fff;
    padding: 25px 20px;
}

.box:hover h1 span {
    color: #262626;
     background: rgba(255,255,255,0.8);
    letter-spacing: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


.box:hover h1 {
    background: rgba(0,0,0,0);
}

.box:hover {
    width: 40%;
}

